{% extends "./base.html" %}

{% block title %} Edita dirección {% endblock%}

{% block body %}
{% load static %}
<div class="row">
<form action="/editarDireccion/" method="POST">{% csrf_token %}
    <div class="col-md-12">
        <h2>{% if direcciones.IdCliente %}Edita Dirección Cliente {% else %}Agrega nueva dirección {% endif %} 
            {% if Gestion %}
                <a href="/gestionDirecciones/{{ cliente.IdCliente }}"><img src="https://cotizadorhitecpretest.z13.web.core.windows.net/back.png" height="40px" width="40px"></a>
            {% else %}
                <a href="/edicionCliente/{{ cliente.IdCliente }}"><img src="https://cotizadorhitecpretest.z13.web.core.windows.net/back.png" height="40px" width="40px"></a>
            {% endif %}
        </h2>
        <div class="card">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-body">
                        <div class="form-group">
                                <div class="form-group">
                                    <label class="etiqueta">Codigo Cliente</label>
                                    <input type="hidden" name="idCliente" value="{{cliente.IdCliente}}">
                                    <input type="text" name="IdCliente" value="{{cliente.IdCliente}}" class="form-control form-control-sm disabled" readonly disabled>
                                </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="form-group">
                                <div class="form-group">
                                    <label class="etiqueta"></label>
                                    <input type="text" name="namecliente" value="{{cliente.NombreCliente}}" class="form-control form-control-sm disabled" readonly disabled>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="card-body">
                        <div class="form-group">
                                <div class="form-group"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12">        
        <div class="card">
            <div class="card-body">
                <div class="row">                
                    <input type="text" name="claveExterna" value="{{direcciones.IdCliente}}" class="form-control form-control-sm" hidden>
                    <input type="hidden" id="vista" value="{{vista}}">
                    <input type="hidden" id="idRegistro" name="idRegistro" value="{{id}}">
                    <div class="form-group col-md-6"> 
                        <input type="hidden" id="idPais" value="{{iniPais.CodeId}}">
                        <input type="hidden" id="Pais" value="{{iniPais.Descrip}}">
                        <span style="color:red">* </span><label class="etiqueta">Pais</label>
                        <select id="PaisRegion" name="PaisRegion" class="form-control form-control-sm minimal" value="{{direcciones.PaisRegion}}" required></select>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="hidden" id="idRegion" value="{{iniRegion.CodeId}}">
                        <input type="hidden" id="Region" value="{{iniRegion.Descrip}}">
                        <span style="color:red">* </span><label class="etiqueta">Estado</label>
                        <select id="Estado" name="Estado" class="form-control form-control-sm minimal" required></select>
                    </div>
                </div>
                {% if dataInt %}
                <div id="dataNac" class="row" hidden>                
                {% else %}
                <div id="dataNac" class="row">
                {% endif %}
                    <div class="form-group col-md-2">
                        <input type="hidden" id="idCodPos" value="{{iniCodPos}}">
                        <label class="etiqueta">Código Postal</label>
                        <select id="CodigoPostal" name="CodigoPostal" class="form-control form-control-sm minimal"></select>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="etiqueta">Municipio o Alcaldía</label>
                        <input type="text" id="Ciudad" name="Ciudad" value="{{direcciones.Ciudad}}" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-5">
                        <input type="hidden" id="iniDistrito" value="{{iniDistrito}}">
                        <span style="color:red">* </span><label class="etiqueta">Colonia</label>
                        <select id="Distrito" name="Distrito" class="form-control form-control-sm minimal" required></select>
                    </div>
                </div>
                {% if dataInt %}
                <div id="dataInt" class="row">                
                {% else %}
                <div id="dataInt" class="row" hidden>
                {% endif %}
                    <div class="form-group col-md-2">
                        <label class="etiqueta">Zona Postal</label>
                        <input type="text" id="IntCodigoPostal" name="IntCodigoPostal" value="{{direcciones.CodigoPostal}}" class="form-control form-control-sm" readonly>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="etiqueta">Ciudad</label>
                        <input type="text" id="IntCiudad" name="IntCiudad" value="{{direcciones.Ciudad}}" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-5">
                        <label class="etiqueta">Distrito</label>
                        <input type="text" id="IntDistrito" name="IntDistrito" value="{{direcciones.Distrito}}" class="form-control form-control-sm">
                    </div>
                    {% if dataUS %}
                    <div id="dataUS" class="row">                
                    {% else %}
                    <div id="dataUS" class="row" hidden>
                    {% endif %}
                        <div class="form-group col-md-6">
                            <input type="hidden" id="idCodDomFis" value="{{iniCodDomFis.CodeId}}">
                            <input type="hidden" id="CodDomFis" value="{{iniCodDomFis.Descrip}}">
                            <label class="etiqueta">Código Domicilio Fiscal</label>
                            <select id="CodigoDomFiscal" name="CodigoDomFiscal" class="form-control form-control-sm minimal" value="{{direcciones.CodigoDomFiscal}}" >
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label> </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                            <label class="etiqueta">Calle</label>
                            <input type="text" name="Calle" value="{{direcciones.Calle}}" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-2">
                            <label class="etiqueta">Número</label>
                            <input type="text" name="Numero" value="{{direcciones.Numero}}" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-10">
                            <label class="etiqueta">Calle 2</label>
                            <input type="text" name="Calle2" value="{{direcciones.Calle2}}" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="etiqueta">Teléfono</label>
                        <input type="text" name="Telefono" value="{{direcciones.Telefono}}" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-5">
                        <label class="etiqueta">CorreoElectronico</label>
                        <input type="text" name="CorreoElectronico" value="{{direcciones.CorreoElectronico}}" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="etiqueta">Sitio Web</label>
                        <input type="text" name="SitioWeb" value="{{direcciones.SitioWeb}}" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-2">
                        <div class="form-check">                            
                                                          
                            {% if iniCheckbox.DireccionPrincipal %}
                                <input class="form-check-input" type="checkbox" name="DireccionPrincipal" value="" checked>
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="DireccionPrincipal" value="">
                            {% endif %}
                            <label class="etiqueta"> Dirección Principal</label>                           
                        </div>
                    </div>                        
                    <div class="form-group col-md-3">
                        <div class="form-check">
                            {% if iniCheckbox.DestinatarioFactura %}
                                <input class="form-check-input" type="checkbox" name="DestinatarioFactura" value="" checked>
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="DestinatarioFactura" value="">
                            {% endif %}
                            <label class="etiqueta">Destinatario Factura</label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="form-check">
                            {% if iniCheckbox.Entrega %}
                                <input class="form-check-input" type="checkbox" name="Entrega" value="" checked>
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="Entrega" value="">
                            {% endif %}
                            <label class="etiqueta">Dirección Entrega</label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-check">
                            {% if iniCheckbox.DestinatarioMercEstandar %}
                                <input class="form-check-input" type="checkbox" name="DestinatarioMercEstandar" value="" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" name="DestinatarioMercEstandar" value="">
                            {% endif %}
                            <label class="etiqueta">Destinatario de mercancías estándar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <span style="color: red; font-size: 11px;">* Campos requeridos</span>
                <div class="form-control d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-primary text-white btn-block">Guardar</button>
                    {% if Gestion %}
                        <a href="/gestionDirecciones/{{ cliente.IdCliente }}" class="btn btn-danger text-white">Cancelar</a>
                    {% else %}
                        <a href="/edicionCliente/{{ cliente.IdCliente }}" class="btn btn-danger text-white">Cancelar</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
