{% extends "./base.html" %}

{% block title %} Gestion de Clientes {% endblock%}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h2>Edicion de Clientes <a href="/"><img src="https://cotizadorhitecpretest.z13.web.core.windows.net/back.png" height="40px" width="40px"></a></h2>
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="form-group">
                                <div class="form-group">
                                    <label class="etiqueta">Codigo Cliente</label>
                                    <input type="text" name="claveExterna" value="{{cliente.IdCliente}}" class="form-control form-control-sm disabled" readonly disabled>
                                </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="card-body">
                        <div class="form-group">
                                <div class="form-group">
                                    <br>
                                    <a href="/gestionContactos/{{cliente.IdCliente}}" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                      </svg>  <b>Contactos</b></a>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-body">
                        <div class="form-group">
                                <div class="form-group">
                                    <br>
                                    <a href="/gestionDirecciones/{{cliente.IdCliente}}" class="btn btn-danger btn-block"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                        <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                      </svg> <b>Direcciones Cliente</b></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form action="/editarCliente/" method="POST">{% csrf_token %}
                    <input type="text" name="claveExterna" value="{{cliente.IdCliente}}" class="form-control form-control-sm" hidden>
                    <div class="form-group">
                        <label class="etiqueta">Nombre Cliente</label>
                        <input type="text" style="display: none;" name="NombreCliente" value="{{cliente.NombreCliente}}" class="form-control form-control-sm" readonly>
                        <input type="text" name="nombreClienteMirror" value="{{cliente.NombreCliente}}" class="form-control form-control-sm" readonly disabled>
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">Fecha Constitución</label>
                        <input type="date" class="form-control form-control-sm" id="fechaNacimiento" name="FechaNacimiento" value="{{cliente.FechaNacimiento}}">
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">Tipo Empresa</label>
                        <select name="TipoEmpresa" class="form-control form-control-sm minimal" value="{{cliente.TipoEmpresa}}" required>
                            {% if cliente.TipoEmpresa %}
                            <option value='{{cliente.TipoEmpresa}}'>{{cliente.dTipoEmpresa}}</option>
                            {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                            {% endif %}
                            <option value='193'>Producto propio</option>
                            <option value='194'>Maquiladora</option>
                            <option value='195'>Gobierno</option>
                            <option value='196'>Educación</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">Tipo de Cliente</label>
                        <select name="TipoCliente" class="form-control form-control-sm minimal" value="{{cliente.TipoCliente}}" required>
                            {% if cliente.TipoCliente %}
                            <option value='{{cliente.TipoCliente}}'>{{cliente.dTipoCliente}}</option>
                            {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                            {% endif %}
                            <option value="Coorporativo">Coorporativo</option>
                            <option value="Particular">Particular</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">Sector</label>
                        <select name="Sector" class="form-control form-control-sm minimal" value="{{cliente.Sector}}" required>
                            {% if cliente.Sector %}
                            <option value='{{cliente.Sector}}'>{{cliente.dSector}}</option>
                            {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                            {% endif %}
                            <option value='11'>Agrícola</option>
                            <option value='22'>Servicios públicos</option>
                            <option value='31'>Fabricación</option>
                            <option value='42'>Comercio mayorista</option>
                            <option value='44'>Comercio minorista</option>
                            <option value='48'>Transporte y almacenamiento</option>
                            <option value='51'>Información</option>
                            <option value='52'>Finanzas y seguro</option>
                            <option value='53'>Bienes inmuebles, alquiler y leasing</option>
                            <option value='54'>Servicios profesionales, científicos y técnicos</option>
                            <option value='55'>Gestión de compañías y empresas</option>
                            <option value='56'>Servicios de recuperación, gestión de desechos y soporte administrativo</option>
                            <option value='61'>Servicios educativos</option>
                            <option value='62'>Atención médica y asistencia social</option>
                            <option value='71'>Arte, entretenimiento y recreación</option>
                            <option value='72'>Servicios de alimentación y alojamiento</option>
                            <option value='81'>Otros servicios (excepto administración pública)</option>
                            <option value='92'>Administración pública</option>
                            <option value='Z01'>Aeroespacial y Aeronáutica</option>
                            <option value='Z02'>Alimentos y bebidas</option>
                            <option value='Z03'>Artículos y Maquinaria Industrial</option>
                            <option value='Z04'>Automotriz</option>
                            <option value='Z05'>Bearings</option>
                            <option value='Z06'>Bombas y válvulas otras</option>
                            <option value='Z07'>Bombas y válvulas PET</option>
                            <option value='Z08'>Calzado</option>
                            <option value='Z10'>Corte lámina</option>
                            <option value='Z11'>Educación</option>
                            <option value='Z12'>Eléctrico / Electrónica</option>
                            <option value='Z13'>Entretenimiento y Deportes</option>
                            <option value='Z14'>Estructuras y Perfiles</option>
                            <option value='Z15'>Farmacéutico</option>
                            <option value='Z16'>Ferrocarril</option>
                            <option value='Z17'>Forja</option>
                            <option value='Z18'>Fundición</option>
                            <option value='Z19'>Generación de Energía</option>
                            <option value='Z20'>Gobierno</option>
                            <option value='Z21'>Herramientas y utillaje</option>
                            <option value='Z22'>Instrumental de precisión</option>
                            <option value='Z23'>Joyería</option>
                            <option value='Z24'>Línea blanca</option>
                            <option value='Z25'>Mantenimiento</option>
                            <option value='Z26'>Médico / Dental</option>
                            <option value='Z27'>Militar</option>
                            <option value='Z28'>Minera</option>
                            <option value='Z29'>Moldes, troqueles y matrices</option>
                            <option value='Z30'>Muebles</option>
                            <option value='Z31'>Naval</option>
                            <option value='Z33'>Otras</option>
                            <option value='Z34'>Papelero</option>
                            <option value='Z35'>Petróleo y Gas</option>
                            <option value='Z36'>Plástico</option>
                            <option value='Z37'>Prensado</option>
                            <option value='Z38'>Químico</option>
                            <option value='Z39'>Robótica y automatización</option>
                            <option value='Z40'>Textil</option>
                            <option value='Z41'>Taller/Maquiladora</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">Cliente Potencial</label>
                        <select name="ClientePotencial" class="form-control form-control-sm minimal" value="{{cliente.ClientePotencial}}">
                            <option value='{{cliente.ClientePotencial}}'>{{cliente.dClientePotencial}}</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">Estado</label>
                        <select name="Estado" class="form-control form-control-sm minimal" value="{{cliente.Estado}}" required>
                            <option value='{{cliente.Estado}}'>{{cliente.dEstado}}</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">D-U-N-S</label>
                        <input type="text" name="Duns" class="form-control form-control-sm" value="{{cliente.Duns}}">
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">Clasificación ABC</label>
                        <select name="Clasificacion" class="form-control form-control-sm minimal" value="{{cliente.Clasificacion}}" required>
                            {% if cliente.Clasificacion %}
                            <option value='{{cliente.Clasificacion}}'>{{cliente.dClasificacion}}</option>
                            {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                            {% endif %}<option value='A'>HTAAA</option>
                            <option value='B'>HTAA</option>
                            <option value='C'>HTA</option>
                            <option value='L'>PAAA</option>
                            <option value='M'>PAA</option>
                            <option value='N'>PA</option>
                            <option value='O'>PB</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">División</label>
                        <select name="Division" class="form-control form-control-sm minimal" value="{{cliente.Division}}" required>
                            {% if cliente.Division %}
                            <option value='{{cliente.Division}}'>{{cliente.dDivision}}</option>
                            {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                            {% endif %}
                            <option value="Haas CAM">Haas CAM</option>
                            <option value="Haas Colombia">Haas Colombia</option>
                            <option value="Haas Ecuador">Haas Ecuador</option>
                            <option value="Haas México">Haas México</option>
                            <option value="Hitec CNC Maquinaria de México">Hitec CNC Maquinaria de México</option>
                            <option value="Hitec Tools">Hitec Tools</option>
                            <option value="Nexttec Machinery">Nexttec Machinery</option>
                            <option value="A&G Plastic Machinery ">A&G Plastic Machinery </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">Sub División</label>
                        <select name="subDivision" class="form-control form-control-sm minimal" value="{{cliente.subDivision}}" required>
                            {% if cliente.Division %}
                            <option value='{{cliente.subDivision}}'>{{cliente.dsubDivision}}</option>
                            {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                            {% endif %}
                            <option value='HFO'>HFO</option>
                            <option value='CNC'>CNC</option>
                            <option value='OT'>OT</option>
                            <option value='Htools'>Htools</option>
                            <option value='EDM'>EDM</option>
                            <option value='FAB'>FAB</option>
                            <option value='PM'>PM</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">Zona Servicio</label>
                        <select name="SucServicio" class="form-control form-control-sm minimal" value="{{cliente.SucServicio}}" required>
                            {% if cliente.SucServicio %}
                            <option value='{{cliente.SucServicio}}'>{{cliente.dSucServicio}}</option>
                            {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                            {% endif %}
                            <option value='101'>MX - Cd. Juárez</option>
                            <option value='102'>MX - Celaya</option>
                            <option value='103'>MX - Chihuahua</option>
                            <option value='104'>MX - Guadalajara</option>
                            <option value='105'>MX - León</option>
                            <option value='106'>MX - Mexicali</option>
                            <option value='107'>MX - México</option>
                            <option value='108'>MX - Monterrey</option>
                            <option value='109'>MX - Puebla</option>
                            <option value='110'>MX - Querétaro</option>
                            <option value='111'>MX - Saltillo</option>
                            <option value='112'>MX - San Luis Potosí</option>
                            <option value='113'>MX - Sonora</option>
                            <option value='114'>MX - Tamaulipas</option>
                            <option value='115'>MX - Tijuana</option>
                            <option value='116'>MX -Toluca</option>
                            <option value='117'>MX - Torreón</option>
                            <option value='118'>CO - Bogotá</option>
                            <option value='119'>ES - Barcelona</option>
                            <option value='120'>ES - Madrid</option>
                            <option value='121'>ES - Sevilla</option>
                            <option value='122'>ES - Valencia</option>
                            <option value='123'>ES - Vitoria</option>
                            <option value='124'>EC - Guayaquil</option>
                            <option value='125'>CO - Medellín</option>
                            <option value='126'>CO - Cartagena</option>
                            <option value='127'>CO - Cali</option>
                            <option value='128'>CO - Manizales</option>
                            <option value='129'>CR - Costa Rica</option>
                            <option value='130'>HO - Tegucigalpa</option>
                            <option value='131'>GU - Guatemala</option>
                            <option value='132'>SA - El Salvador</option>
                            <option value='133'>EC - Quito</option>
                            <option value='134'>EC - Francisco de Orellana</option>
                            <option value='135'>EC - Ambato</option>
                            <option value='136'>EC - Cuenca</option>
                            <option value='137'>HO - San Pedro Sula</option>
                            <option value='138'>NI - Managua</option>
                            <option value='139'>NI - León</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">Región Ventas</label>
                        <select name="RegionVts" class="form-control form-control-sm minimal" value="{{cliente.RegionVts}}" required>
                            {% if cliente.RegionVts %}
                                <option value='{{cliente.RegionVts}}'>{{cliente.dRegionVts}}</option>
                            {% else %}
                                <option value="" disabled selected>Seleccione uno</option>
                            {% endif %}
                            <option value='109'>MX - HFO SURESTE</option>
                            <option value='110'>MX - HFO NORTE</option>
                            <option value='111'>MX - HFO BAJIO</option>
                            <option value='112'>MX - HFO PACIFICO OCCIDENTE</option>
                            <option value='113'>MX - HFO CENTRO</option>
                            <option value='114'>CENTRO AMERICA</option>
                            <option value='115'>MX - PLASTICOS</option>
                            <option value='117'>ES - HFO NORESTE</option>
                            <option value='118'>ES - HFO LEVANTE</option>
                            <option value='119'>ES - HFO SUR</option>
                            <option value='120'>ES - HFO CENTRO</option>
                            <option value='121'>ES - HFO NORTE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="etiqueta">ID de Nielsen</label>
                        <input type="text" name="iDNielsen" class="form-control form-control-sm" value="{{cliente.iDNielsen}}">
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label class="etiqueta">No Turnos C</label>
                    <select name="NoTurnosC" class="form-control form-control-sm minimal" value="{{cliente.NoTurnosC}}" required>
                        {% if cliente.NoTurnosC %}
                            <option value='{{cliente.NoTurnosC}}'>{{cliente.NoTurnosC}}</option>
                        {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                        {% endif %}
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="etiqueta">Tier (Cadena)</label>
                    <select name="Tier" class="form-control form-control-sm minimal" value="{{cliente.Tier}}" required>
                        {% if cliente.Tier %}
                            <option value='{{cliente.Tier}}'>{{cliente.dTier}}</option>
                        {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                        {% endif %}<option value='1'>1</option>
                        <option value='197'>Tier 1</option>
                        <option value='198'>Tier 2</option>
                        <option value='199'>Tier 3</option>
                        <option value='200'>Gobierno</option>
                        <option value='201'>N/A</option>
                    </select>
                </div>
                <div class="form-group">
                    <span style="color:red">* </span><label class="etiqueta">Frecuencia de Compra</label>
                    <select name="FrecuenciaCompra" class="form-control form-control-sm minimal" value="{{cliente.FrecuenciaCompra}}" required>
                        {% if cliente.FrecuenciaCompra %}
                            <option value='{{cliente.FrecuenciaCompra}}'>{{cliente.FrecuenciaCompra}}</option>
                        {% else %}
                            <option value='0'>0</option>
                        {% endif %}
                        <option value='0'>0</option>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3 o Mas'>3 o Mas</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="etiqueta">No Maquinas Convencionales C</label>
                    <select name="NoMaqConvenC" class="form-control form-control-sm minimal" value="{{cliente.NoMaqConvenC}}">
                        {% if cliente.NoMaqConvenC %}
                            <option value='{{cliente.NoMaqConvenC}}'>{{cliente.NoMaqConvenC}}</option>
                        {% else %}
                            <option value='0'>0</option>
                        {% endif %}
                        <option value='0'>0</option>
                        <option value='1 a 5'>1 a 5</option>
                        <option value='6 a 10'>6 a 10</option>
                        <option value='> 10'>> 10</option>
                    </select>
                </div>
                <!--<div class="form-group">
                    <label class="etiqueta">MX email de envio</label>
                    <input type="text" name="mxEmailEnvio" class="form-control form-control-sm">
                </div>-->
                <div class="form-group">
                    <label class="etiqueta">No Maquinas CNC C</label>
                    <select name="NoMaqCNC_C" class="form-control form-control-sm minimal" value="{{cliente.NoMaqCNC_C}}">
                        {% if cliente.NoMaqCNC_C %}
                            <option value='{{cliente.NoMaqCNC_C}}'>{{cliente.NoMaqCNC_C}}</option>
                        {% else %}
                        <option value='0'>0</option>                
                        {% endif %}
                        <option value='0'>0</option>
                        <option value='1 a 5'>1 a 5</option>
                        <option value='6 a 10'>6 a 10</option>
                        <option value='> 10'>> 10</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="etiqueta">No de Maquinas HT C</label>
                    <select name="NoMaqHT_C" class="form-control form-control-sm minimal" value="{{cliente.NoMaqHT_C}}">
                        {% if cliente.NoMaqHT_C %}
                            <option value='{{cliente.NoMaqHT_C}}'>{{cliente.NoMaqHT_C}}</option>
                        {% else %}
                            <option value='0'>0</option>
                        {% endif %}
                        <option value='0'>0</option>
                        <option value='1 a 3'>1 a 3</option>
                        <option value='4 a 6'>4 a 6</option>
                        <option value='> 6'>> 6</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="etiqueta">Materiales que utilizan CHMER</label>
                    <select name="MatUseCHMER" class="form-control form-control-sm minimal" value="{{cliente.MatUseCHMER}}">
                        {% if cliente.MatUseCHMER %}
                            <option value='{{cliente.MatUseCHMER}}'>{{cliente.dMatUseCHMER}}</option>
                        {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                        {% endif %}
                        <option value='170'>Aceros al carbón</option>
                        <option value='171'>Acero inoxidable</option>
                        <option value='172'>Carburo de tuxteno</option>
                        <option value='173'>No Ferrosos</option>
                        <option value='174'>Aleaciones Especiales</option>
                        <option value='175'>Fundición</option>
                        <option value='176'>Varios</option>                        
                    </select>
                </div>
                <div class="form-group">
                    <label class="etiqueta">Materiales que utilizan YZUMI</label>
                    <select name="MatUseYIZUMI" class="form-control form-control-sm minimal" value="{{MatUseYIZUMI}}">
                        {% if cliente.MatUseYIZUMI %}
                            <option value='{{cliente.MatUseYIZUMI}}'>{{cliente.dMatUseYIZUMI}}</option>
                        {% else %}
                            <option value="NA" disabled selected>Seleccione uno</option>
                        {% endif %}
                        <option value='179'>PETE (Polietileno tereftalato)</option>
                        <option value='180'>HDPE (Polietileno de alta densidad)</option>
                        <option value='181'>V (Policloruro de vinilo)</option>
                        <option value='182'>LDPE (Polietileno de baja densidad)</option>
                        <option value='183'>PP (Polipropileno)</option>
                        <option value='184'>PS (Poliestireno)</option>
                        <option value='185'>Otros Plásticos, resinas, composites</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="etiqueta">Materiales FAB</label>
                    <select name="MatUsoFab" class="form-control form-control-sm minimal" value="{{cliente.MatUsoFab}}">
                        {% if cliente.MatUsoFab %}
                            <option value='{{cliente.MatUsoFab}}'>{{cliente.dMatUsoFab}}</option>
                        {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                        {% endif %}
                        <option value='187'>Aluminio</option>
                        <option value='188'>Acero</option>
                        <option value='189'>Acero inoxidable</option>
                        <option value='190'>No Ferrosos</option>
                        <option value='191'>Lámina</option>
                        
                    </select>
                </div>
                <div class="form-group">
                    <label class="etiqueta">Material arranque de viruta</label>
                    <select name="MatViruta" class="form-control form-control-sm minimal" value="{{cliente.MatViruta}}">
                        {% if cliente.MatViruta %}
                            <option value='{{cliente.MatViruta}}'>{{cliente.dMatViruta}}</option>
                        {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                        {% endif %}
                        <option value='163'>Aceros al carbón</option>
                        <option value='164'>Acero inoxidable</option>
                        <option value='165'>Fundición</option>
                        <option value='166'>No Ferrosos</option>
                        <option value='167'>Aleaciones Especiales</option>
                        <option value='168'>Varios</option>
                    </select>
                </div>
                <!--div class="form-group">
                    <label class="etiqueta">Material uso CNC Haas</label>
                    <select name="MatUsoCNC_Haas" class="form-control form-control-sm minimal" value="{{cliente.MatUsoCNC_Haas}}">
                        {% if cliente.MatUsoCNC_Haas %}
                            <option value='{{cliente.MatUsoCNC_Haas}}'>{{cliente.dMatUsoCNC_Haas}}</option>
                        {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                        {% endif %}
                        <option value='163'>Aceros al carbón</option>
                        <option value='164'>Acero inoxidable</option>
                        <option value='165'>Fundición</option>
                        <option value='166'>No Ferrosos</option>
                        <option value='167'>Aleaciones Especiales</option>
                        <option value='168'>Varios</option>
                    </select>
                </div-->
                
                <div class="form-group">
                    <label class="etiqueta">Actividad Principal FAB</label>
                    <select name="ActPriFAB" class="form-control form-control-sm minimal" value="{{cliente.ActPriFAB}}">
                        {% if cliente.ActPriFAB %}
                            <option value='{{cliente.ActPriFAB}}'>{{cliente.dActPriFAB}}</option>
                        {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                        {% endif %}
                        <option value='146'>Estructuras metálicas"</option>
                        <option value='147'>Bridas, valvulas,conexiones, sellos, rodamientos, tubos, coples"</option>
                        <option value='148'>Herramientas"</option>
                        <option value='149'>Maquinado de partes"</option>
                        <option value='150'>Transformación de piezas de fundición"</option>
                        <option value='151'>Maquinas, Equipos y automatización"</option>
                        <option value='152'>Prototipos"</option>
                        <option value='153'>Troqueles y Matrices"</option>
                        <option value='154'>Transformación de lamina"</option>
                        <option value='155'>Estantería y Mobiliario Publico"</option>
                        <option value='156'>Distribuidores de acero"</option>
                        <option value='157'>Carrocerías / Remolques de marca propia"</option>
                        <option value='158'>Paileria"</option>
                        <option value='159'>Básculas / Fabricantes de básculas"</option>
                        <option value='160'>Fabricantes de Piezas Metálicas en serie"</option>
                        <option value='161'>Ductos de Lámina / Ductos para aire / Recolectores de Polvo / Filtros Industriales."</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="etiqueta">Actividad Principal EDM</label>
                    <select name="ActPriEDM" class="form-control form-control-sm minimal" value="{{cliente.ActPriEDM}}">
                        {% if cliente.ActPriEDM %}
                            <option value='{{cliente.ActPriFAB}}'>{{cliente.dActPriFAB}}</option>
                        {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                        {% endif %}
                        <option value='124'>Moldes</option>
                        <option value='125'>Troqueles y Matrices</option>
                        <option value='126'>Grabado</option>
                        <option value='127'>Dispositivos , gages</option>
                        <option value='128'>Herramentales especiales</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="etiqueta">Actividad principal a efectuar con el equipo CNC</label>
                    <select name="ActPriEquipoCNC" class="form-control form-control-sm minimal" value="{{cliente.ActPriEquipoCNC}}">
                        {% if cliente.ActPriEquipoCNC %}
                            <option value='{{cliente.ActPriEquipoCNC}}'>{{cliente.dActPriEquipoCNC}}</option>
                        {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                        {% endif %}
                        <option value='106'>Anclas, estructuras metálicas</option>
                        <option value='107'>Bridas, valvulas,conexiones, sellos, rodamientos, tubos, coples</option>
                        <option value='108'>Dados de extrusión</option>
                        <option value='109'>Dispositivos , gages, herramentales</option>
                        <option value='110'>Grabado</option>
                        <option value='111'>Herramientas</option>
                        <option value='112'>Investigación, desarrollo, enseñanza</option>
                        <option value='113'>Maquinado de partes</option>
                        <option value='114'>Maquinado de piezas de fundición</option>
                        <option value='115'>Maquinas, Equipos y automatización</option>
                        <option value='116'>Moldes</option>
                        <option value='117'>Partes para mantenimiento</option>
                        <option value='118'>Prototipos</option>
                        <option value='119'>Tornillos y tuercas</option>
                        <option value='120'>Troqueles y Matrices</option>
                        <option value='121'>Turbinas</option>
                        <option value='122'>Otros</option>
                    </select>
                </div>
                <!--div class="form-group">
                    <label class="etiqueta">Actividad principal a efectuar con el equipo CNC</label>
                    <select name="ActPriEquipo" class="form-control form-control-sm minimal" value="{{cliente.ActPriEquipo}}">
                        {% if cliente.ActPriEquipo %}
                            <option value='{{cliente.ActPriEquipo}}'>{{cliente.dActPriEquipo}}</option>
                        {% else %}
                            <option value="" disabled selected>Seleccione uno</option>
                        {% endif %}
                        <option value='106'>Anclas, estructuras metálicas</option>
                        <option value='107'>Bridas, valvulas,conexiones, sellos, rodamientos, tubos, coples</option>
                        <option value='108'>Dados de extrusión</option>
                        <option value='109'>Dispositivos , gages, herramentales</option>
                        <option value='110'>Grabado</option>
                        <option value='111'>Herramientas</option>
                        <option value='112'>Investigación, desarrollo, enseñanza</option>
                        <option value='113'>Maquinado de partes</option>
                        <option value='114'>Maquinado de piezas de fundición</option>
                        <option value='115'>Maquinas, Equipos y automatización</option>
                        <option value='116'>Moldes</option>
                        <option value='117'>Partes para mantenimiento</option>
                        <option value='118'>Prototipos</option>
                        <option value='119'>Tornillos y tuercas</option>
                        <option value='120'>Troqueles y Matrices</option>
                        <option value='121'>Turbinas</option>
                        <option value='122'>Otros</option>
                    </select>
                </div-->
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="form-control d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary text-white btn-block">Guardar</button>
                    <a href="/" class="btn btn-danger text-white">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}