{% extends "./base.html" %}

{% block title %} Edita Contacto {% endblock%}

{% block body %}
{% load static %}
<div class="row">
<form action="/editarContacto/" method="POST">{% csrf_token %}
    <div class="col-md-12">
        <h2>{% if contacto.IdContacto %}Edicion de Contacto {% else %}Agrega Contacto {% endif%}
            {% if Gestion %}
                <a href="/gestionContactos/{{cliente.IdCliente}}"><img src="https://cotizadorhitecpretest.z13.web.core.windows.net/back.png" height="40px" width="40px"></a></h2>
            {% else %}
                <a href="/edicionCliente/{{cliente.IdCliente}}"><img src="https://cotizadorhitecpretest.z13.web.core.windows.net/back.png" height="40px" width="40px"></a>
            {% endif %}
        </h2>
        <div class="card">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-body">
                        <div class="form-group">
                                <div class="form-group">
                                    <label class="etiqueta">Codigo Cliente</label>
                                    <input type="hidden" name="IdCliente" value="{{cliente.IdCliente}}">
                                    <input type="text" name="claveExterna" value="{{cliente.IdCliente}}" class="form-control form-control-sm disabled" readonly disabled>
                                </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="etiqueta"></label>
                                <input type="text" name="namecliente" value="{{cliente.NombreCliente}}" class="form-control form-control-sm disabled" readonly disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="card-body">
                        <div class="form-group">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <input type="hidden" id="idRegistro" name="idRegistro" value="{{idRegistro}}">
                    <div class='form-group col-md-2'><label class='etiqueta'>IdContacto</label><input type='text' value='{{idRegistro}}' class='form-control form-control-sm' readonly disabled></div>
                    <div class='form-group col-md-3'><label class='etiqueta'>Nombre</label><input type='text'  name='Nombre' value='{{contacto.Nombre}}' class='form-control form-control-sm'></div>
                    <div class='form-group col-md-3'><label class='etiqueta'>SegundoNombre</label><input type='text'  name='SegundoNombre' value='{{contacto.SegundoNombre}}' class='form-control form-control-sm'></div>
                    <div class='form-group col-md-4'><label class='etiqueta'>Apellidos</label><input type='text'  name='Apellidos' value='{{contacto.Apellidos}}' class='form-control form-control-sm'></div>
                    <div class='form-group col-md-2'><label class='etiqueta'>Telefono</label><input type='text'  name='Telefono' value='{{contacto.Telefono}}' class='form-control form-control-sm'></div>
                    <div class='form-group col-md-2'><label class='etiqueta'>TelefonoMovil</label><input type='text'  name='TelefonoMovil' value='{{contacto.TelefonoMovil}}' class='form-control form-control-sm'></div>
                    <div class='form-group col-md-4'><label class='etiqueta'>CorreoElectronico</label><input type='text'  name='CorreoElectronico' value='{{contacto.CorreoElectronico}}' class='form-control form-control-sm'></div>
                    <div class='form-group col-md-4'></div>
                    <div class='form-group col-md-5'><label class='etiqueta'>Departamento</label><input type='text'  name='Departamento' value='{{contacto.Departamento}}' class='form-control form-control-sm'></div>
                    <div class='form-group col-md-5'><label class='etiqueta'>Funcion</label><input type='text'  name='Funcion' value='{{contacto.Funcion}}' class='form-control form-control-sm'></div>
                    
                    <div class="form-group col-md-1">
                        <label class="etiqueta"></label>  
                        <div class="form-check">
                            {% if iniCheckbox.Principal %}
                                <input class="form-check-input" type="checkbox" id="Principal" name="Principal" value="{{iniCheckbox.Principal}}" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" id="Principal" name="Principal" value="{{iniCheckbox.Principal}}">
                            {% endif %}
                            <label class="etiqueta">Principal</label>
                        </div>                        
                    </div>                      
                    <div class="form-group col-md-1">
                        <label class="etiqueta"></label>  
                        <div class="form-check">
                            {% if iniCheckbox.VIP %}
                                <input class="form-check-input" type="checkbox" id="VIP" name="VIP" value="{{iniCheckbox.VIP}}" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" id="VIP" name="VIP" value="{{iniCheckbox.VIP}}">
                            {% endif %}
                            <label class="etiqueta">VIP</label>
                        </div>                        
                    </div>
                    <div class="row">
                        <input type="hidden" id="vista" value="{{vista}}">
                        <input type="hidden" id="idRegistro" value="0">
                        <input type="hidden" id="idCodDomFis" value="0">
                        <input type="hidden" id="CodDomFis" value="">
                        <input type="hidden" id="idCodPos" value="{{iniCodPos}}">
                        <input type="hidden" id="iniDistrito" value="{{iniDistrito}}">
                        <div class="form-group col-md-6">                            
                            <input type="hidden" id="idPais" value="{{iniPais.CodeId}}">
                            <input type="hidden" id="Pais" value="{{iniPais.Descrip}}">
                            <span style="color:red">* </span><label class="etiqueta">Pais</label>
                            <select id="PaisRegion" name="PaisRegion" class="form-control form-control-sm minimal" value="{{contacto.PaisRegion}}"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="hidden" id="idRegion" value="{{iniRegion.CodeId}}">
                            <input type="hidden" id="Region" value="{{iniRegion.Descrip}}">
                            <span style="color:red">* </span><label class="etiqueta">Estado</label>
                            <select id="Estado" name="Estado" class="form-control form-control-sm minimal" required></select>
                        </div>
                    </div>
                    {% if dataInt %}
                    <div id="dataNac" class="row" hidden>                
                    {% else %}
                    <div id="dataNac" class="row">
                    {% endif %}
                        <div class="form-group col-md-2">
                            <input type="hidden" id="idCodPos" value="{{iniCodPos}}">
                            <label class="etiqueta">Código Postal</label>
                            <select id="CodigoPostal" name="CodigoPostal" class="form-control form-control-sm minimal"></select>
                        </div>
                        <div class="form-group col-md-5">
                            <label class="etiqueta">Municipio o Alcaldía</label>
                            <input type="text" id="Ciudad" name="Ciudad" value="{{contacto.Ciudad}}" class="form-control form-control-sm">
                        </div>
                        <div class="form-group col-md-5">
                            <input type="hidden" id="iniDistrito" value="{{iniDistrito}}">
                            <span style="color:red">* </span><label class="etiqueta">Colonia</label>
                            <select id="Distrito" name="Distrito" class="form-control form-control-sm minimal" required></select>
                        </div>
                    </div>
                    {% if dataInt %}
                    <div id="dataInt" class="row">                
                    {% else %}
                    <div id="dataInt" class="row" hidden>
                    {% endif %}
                        <div class="form-group col-md-2">
                            <label class="etiqueta">Zona Postal</label>
                            <input type="text" id="IntCodigoPostal" name="IntCodigoPostal" value="{{contacto.CodigoPostal}}" class="form-control form-control-sm" readonly>
                        </div>
                        <div class="form-group col-md-5">
                            <label class="etiqueta">Ciudad</label>
                            <input type="text" id="IntCiudad" name="IntCiudad" value="{{contacto.Ciudad}}" class="form-control form-control-sm">
                        </div>
                        <div class="form-group col-md-5">
                            <label class="etiqueta">Distrito</label>
                            <input type="text" id="IntDistrito" name="IntDistrito" value="{{contacto.Distrito}}" class="form-control form-control-sm">
                        </div>                        
                    </div>
                    <div class='form-group col-md-6'><label class='etiqueta'>Calle</label><input type='text'  name='Calle' value='{{contacto.Calle}}' class='form-control form-control-sm'></div>            
                    <div class='form-group col-md-2'><label class='etiqueta'>Numero</label><input type='text'  name='Numero' value='{{contacto.Numero}}' class='form-control form-control-sm'></div>
                    <div class='form-group col-md-2'><label class='etiqueta'>Edificio</label><input type='text'  name='Edificio' value='{{contacto.Edificio}}' class='form-control form-control-sm'></div>
                    <div class='form-group col-md-2'><label class='etiqueta'>Planta</label><input type='text'  name='Planta' value='{{contacto.Planta}}' class='form-control form-control-sm'></div>
                    <div class='form-group col-md-4'><label class='etiqueta'>PaisExp</label><input type='text'  name='PaisExp' value='{{contacto.PaisExp}}' class='form-control form-control-sm'></div>
                    <div class='form-group col-md-4'><label class='etiqueta'>MedioComunicacion</label><input type='text'  name='MedioComunicacion' value='{{contacto.MedioComunicacion}}' class='form-control form-control-sm'></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <span style="color: red; font-size: 11px;">* Campos requeridos</span>
                <div class="form-control d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary text-white btn-block">Guardar</button>
                    {% if Gestion %}
                        <a href="/gestionContactos/{{cliente.IdCliente}}" class="btn btn-danger text-white">Cancelar</a>
                    {% else %}
                    <a href="/edicionCliente/{{cliente.IdCliente}}" class="btn btn-danger text-white">Cancelar</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}