{% extends "./base.html" %}

{% block title %} Gestion de Contatos {% endblock%}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h4>Contactos Disponibles <a href="/edicionCliente/{{ contactos.0.IdCliente }}"><img src="https://cotizadorhitecpretest.z13.web.core.windows.net/back.png" height="40px" width="40px"></a></h4>
        <div class="card">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" name="idCliente" value="{{cliente.IdCliente}}" class="form-control form-control-sm disabled" readonly disabled>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" name="namecliente" value="{{cliente.NombreCliente}}" class="form-control form-control-sm disabled" readonly disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="card-body">
                    <div class="col-md-12">
                        <a href="/edicionContacto/{{contactos.0.IdCliente}}/0/True" class="btn btn-warning btn-sm text-white fw-bold"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                        </svg> Agregar Contacto</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive py-1">
                            <table class="table table-striped" id="clientes-table">
                                <thead style="background-color: #E5E5E5;font-size: 14px;">
                                    <tr>
                                        <th>#</th>
                                        <th><small>Id Contacto</small></th>
                                        <th><small>Nombre</small></th>
                                        <th><small>Apellidos</small></th>
                                        <th><small>Telefono</small></th>
                                        <th><small>Función</small></th>
                                        <th><small>Bloqueo</small></th>
                                        <th style="text-align: center;"><small>Opciones</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in contactos %}
                                    <tr>
                                        <td><small>{{forloop.counter}}</small></td>
                                        <td><small>{{c.IdContacto}}</small></td>
                                        <td><small>{{c.Nombre}}</small></td>
                                        <td><small>{{c.Apellidos}}</small></td>
                                        <td><small>{{c.Telefono}}</small></td>
                                        <td><small>{{c.Funcion}}</small></td>
                                        <td><small>{% if c.Bloqueo == True %}
                                            SI
                                          {% endif %}</small></td>
                                        <td style="text-align: center;"><a href="/edicionContacto/{{c.IdCliente}}/{{c.IdContacto}}/True" class="btn btn-success btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg></a>
                                            <a href="/bloquearContacto/{{c.IdContacto}}/{{c.IdCliente}}" class="btn btn-danger btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                                                <path d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8ZM2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Z"/>
                                              </svg></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}