{% extends "./base.html" %}

{% block title %} 

    Gestión de Clientes 

{% endblock%}

{% block body %}
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <h4>Buscar Clientes</h4>
        <div class="card">
            <div class="card-body">
                <div class="form-control">
                    <form id="formBusqueda" action="../buscarCliente/" method="POST">{% csrf_token %}
                        <label class="etiqueta">Busqueda por coincidencia</label><input class="form-control form-control-sm" value="{{request.POST.Busqueda}}" type="text" placeholder="Introduce algo" id="Busqueda" name="Busqueda">
                        <hr><input type="submit" id="btnBuscar" class="btn btn-danger btn-block" value="Buscar">
                        <hr><b><small>La busqueda se realiza sobre Nombre del Cliente, RFC, DUNS, ID Cliente</small></b>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <h4>Clientes Disponibles</h4>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive py-1">
                    <table class="table table-striped" id="clientes-table1">
                        <thead style="background-color: #E5E5E5;font-size: 14px;">
                            <tr>
                                <th>#</th>
                                <th>Id Cliente</th>
                                <th><small>Nombre</small></th>
                                <th>RFC</th>
                                <th>Suc Servicio</th>
                                <th>Reg Ventas</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in clientes %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{c.IdCliente}}</td>
                                <td>{{c.NombreCliente}}</td>
                                <td>{{c.RFC}}</td>
                                <td>{{c.SucServicio}}</td>
                                <td>{{c.RegionVts}}</td>
                                <td><a href="../edicionCliente/{{c.IdCliente}}" class="btn btn-success btn-sm">Editar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
/*
if(document.getElementById('nombreBusqueda') != null) {
    $(".btnBusqueda").removeAttr("disabled");
  }
  */
  
//rfcBisqueda
//telefonoBusqueda
//adicionalBusqueda
</script>
{% endblock %}