{% extends "./base.html" %}

{% block title %} 

    Gestión de Clientes 

{% endblock%}

{% block body %}
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <h4>Buscar Clientes</h4>
        <div class="card">
            <div class="card-body">
                <div class="form-control">
                    <form id="formBusqueda" action="/buscarCliente/" method="POST">{% csrf_token %}
                        <label class="etiqueta">Nombre de Cliente</label><input class="form-control form-control-sm" onfocus="validaFormulario()" type="text" placeholder="Nombre Cliente"id="nombreBusqueda">
                        <label class="etiqueta">RFC Cliente</label><input class="form-control form-control-sm" onfocus="validaFormulario()" type="text" placeholder="RFC Cliente"id="rfcBusqueda">
                        <label class="etiqueta">Teléfono Cliente</label><input class="form-control form-control-sm" onfocus="validaFormulario()" type="text" placeholder="Teléfono Cliente"id="telefonoBusqueda">
                        <labell class="etiqueta">Nombre Adicional</label><input class="form-control form-control-sm" onfocus="validaFormulario()" type="text" placeholder="Nombre Adicional Cliente"id="adicionalBusqueda">
                        <hr><input type="submit" id="btnBuscar" class="btn btn-danger btn-block" value="Buscar...">
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <h4>Clientes Disponibles</h4>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive py-1">
                    <table class="table table-striped" id="clientes-table">
                        <thead style="background-color: #E5E5E5;font-size: 14px;">
                            <tr>
                                <th>#</th>
                                <th>Id Cliente</th>
                                <th><small>Nombre</small></th>
                                <th>RFC</th>
                                <th>Suc Servicio</th>
                                <th>Reg Ventas</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in clientes %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{c.IdCliente}}</td>
                                <td>{{c.NombreCliente}}</td>
                                <td>{{c.RFC}}</td>
                                <td>{{c.SucServicio}}</td>
                                <td>{{c.RegionVts}}</td>
                                <td><a href="edicionCliente/{{c.IdCliente}}" class="btn btn-success btn-sm">Editar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
const form = document.getElementById('formBusqueda');
document.getElementById('btnBuscar').disabled = true;

function validaFormulario(){
    let nombreBusqueda = document.getElementById('nombreBusqueda').value;
    let rfcBusqueda = document.getElementById('rfcBusqueda').value;
    let telefonoBusqueda = document.getElementById('telefonoBusqueda').value;
    let adicionalBusqueda = document.getElementById('adicionalBusqueda').value;

    cadena = nombreBusqueda+rfcBusqueda+telefonoBusqueda+adicionalBusqueda;

    if(cadena.length == 0 || cadena.length == '') {
        document.getElementById('btnBuscar').disabled = true;
    } else {
        document.getElementById('btnBuscar').disabled = false;
    }
}



</script>
{% endblock %}